.SavedSearches {
  width: 270px;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  border: solid;
  align-items: center;
  height: 100vh; /* Set height to 100% of the viewport */
  background-color: rgb(186, 186, 186);
}

.thickDivider {
  height: 1px; /* Adjust thickness as needed */
  background-color: #000; /* Optional: change color */
}

.addSearchButton {
  display: flex;
  justify-content: center; /* Center horizontally */
  padding: 10px 0; /* Add some padding at the top and bottom */
}

.runAllSearchesButton {
  display: flex;
  justify-content: center; /* Center horizontally */
  padding: 10px 0; /* Add some padding at the top and bottom */
}

.SavedSearch {
  border: solid; /* Style for individual list items */
  margin: 5px 0; /* Add some spacing between items */
  padding: 5px; /* Padding inside each list item */
  box-sizing: border-box; /* Include padding and border in width */
  background-color: rgb(234, 234, 234);
  flex-grow: 1; /* Allow text to take up available space */
  margin-right: 10px; /* Add space between text and icons */
  word-break: break-word; /* Ensure long words do not overflow */
}
.dialog-content {
  flex-direction: column;
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px; /* Adjust padding as needed */
}

.dialog-content .MuiGrid-item {
  margin-top: 5px;
  margin-bottom: 10px;
}